<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ebuy</title>
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/ebuy.css">
</head>
<body ng-app="ebuyApp" ng-cloak>
    <script type="text/javascript" src="js/angularjs/1.6.2/angular.min.js"></script>
    <script type="text/javascript" src="js/angularjs/1.6.2/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/angularjs/1.6.2/angular-aria.min.js"></script>
    <script type="text/javascript" src="js/angularjs/1.6.2/angular-messages.min.js"></script>
    <script type="text/javascript" src="js/angularjs/1.6.2/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angularjs/material/1.3.3/angular-material.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('ebuyApp',['ng', 'ngMaterial' , 'ngRoute']);

        app.config(function ($mdThemingProvider) {
            $mdThemingProvider.theme('default')
                            .primaryPalette('purple')
                            .accentPalette('green');

        });

        app.controller('FormCtrl', function($scope, $timeout, $mdSidenav, $http, $mdDialog) {
                $scope.toggleLeft = buildToggler('left');
                $scope.toggleRight = buildToggler('right');
                $scope.cleanAllInput = function() {
                    $scope.event = {
                        taskId: '',
                        taskName: '',
                        startDate: '',
                        completionDate: '',
                        priority: '',
                        actionBy: ''
                    };
                }
                $scope.showAlert = function(Title, TextContent) {
                    $mdDialog.show(
                                $mdDialog.alert()
                                    .parent(angular.element(document.querySelector('#appForm')))
                                    .clickOutsideToClose(true)
                                    .title(Title)
                                    .textContent(TextContent)
                                    .ok('OK')

                    );
                };

                $scope.submitFormData = function() {

                    $http.post("web/event/add", $scope.event).then(function successCallback(response) {
                        if (response && response.data && response.data.code == '0') {
                            $scope.showAlert("Info", "The data has been submitted successfully.");
                        } else {
                            $scope.showAlert("Error", "Failed to submit the data.");
                        }
                    }, function errorCallback(response) {
                        $scope.showAlert("Error", "Failed to submit the data.");
                    });
                }

                $scope.event = {
                     taskId: '',
                     taskName: '',
                     startDate: '',
                     completionDate: '',
                     priority: '',
                     actionBy: ''
                }

                function buildToggler(componentId) {
                    return function() {
                        $mdSidenav(componentId).toggle();
                    };
                }
        });
    </script>

    <div id="appForm" ng-controller="FormCtrl" layout="column" class="app-form" ng-cloak>
        <header>
            <md-toolbar layout="row" layout-align="start center">
                <div class="md-toolbar-tools" flex="90">
                    <!--<md-button ng-click="toggleLeft()" class="md-raised md-primary">-->
                        <!--Menu-->
                    <!--</md-button>-->
                    <a href="#" ng-click="toggleLeft()"><img src="/img/menu.png" style="width:50px;height:30px"/></a>
                </div>
                <div flex="10">
                    <md-button href="/login?logout">
                        Logout
                    </md-button>
                </div>
            </md-toolbar>
        </header>

        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Menu</h1>
                </md-toolbar>

                <md-content layout-margin>
                    <p>
                        This is menu.
                    </p>
                </md-content>
            </md-sidenav>

            <md-content flex layout-padding layout="row" layout-align="center">
                <div class="md-whiteframe-1dp event-input-section" flex="60">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools">Event Data</h1>
                    </md-toolbar>

                    <md-content layout-padding>
                        <form name="eventForm">
                            <div layout-gt-sm="row" layout-align="left">
                                <a href="http://115.28.47.100:5601/app/kibana#/dashboard/Process-Event-Dashboard?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:Operator-Task-Processing-Summary-Report,panelIndex:1,row:5,size_x:12,size_y:3,type:visualization),(col:1,id:Priority-Statistic-Report,panelIndex:2,row:3,size_x:6,size_y:2,type:visualization),(col:7,id:Task-Daily-Volume-Report,panelIndex:3,row:3,size_x:6,size_y:2,type:visualization),(col:1,id:Outstanding-Task-Daily-Report,panelIndex:4,row:1,size_x:12,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Process%20Event%20Dashboard',uiState:(P-1:(vis:(params:(sort:(columnIndex:!n,direction:!n))))))">Process Event Log Dashboard</a>
                            </div>

                            <div layout-gt-sm="row">
                                <!--md-input-container class="md-block" flex-gt-sm md-no-asterisk>
                                    <label>Task ID:</label>
                                    <input ng-model="event.taskId" required>
                                </md-input-container-->

                                <md-input-container class="md-block" flex-gt-sm md-no-asterisk>
                                    <label>Task Name:</label>
                                    <!--input ng-model="event.taskName" required-->
                                    <md-select ng-model="event.taskName" required>
                                        <md-option value="Data Capture">Data Capture</md-option>
                                        <md-option value="Verification">Verification</md-option>
                                        <md-option value="Approval">Approval</md-option>
                                        <md-option value="Review">Review</md-option>
                                        <md-option value="Onboarding">Onboarding</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm md-no-asterisk>
                                    <label>Priority:</label>
                                    <md-select ng-model="event.priority" required>
                                        <md-option value="High">High</md-option>
                                        <md-option value="Medium">Medium</md-option>
                                        <md-option value="Low">Low</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm md-no-asterisk>
                                    <label>Action by:</label>
                                    <!--input ng-model="event.actionBy" required-->
                                    <md-select ng-model="event.actionBy" required>
                                        <md-option value="Jimmy">Jimmy</md-option>
                                        <md-option value="Amy">Amy</md-option>
                                        <md-option value="Kitty">Kitty</md-option>
                                        <md-option value="Cherry">Cherry</md-option>
                                        <md-option value="Bobby">Bobby</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm md-no-asterisk>
                                    <label>Start Date</label>
                                    <md-datepicker ng-model="event.startDate" required></md-datepicker>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Completion Date</label>
                                    <md-datepicker ng-model="event.completionDate"></md-datepicker>
                                </md-input-container>
                            </div>

                            <div layout="row" layout-sm="column" layout-align="center">
                                <md-button flex="50" class="md-primary md-raised" ng-click="cleanAllInput()">Clear</md-button>
                                <md-button flex="50" class="md-primary md-raised" ng-click="submitFormData()" ng-disabled="eventForm.$invalid">Submit</md-button>
                            </div>
                        </form>
                    </md-content>
                </div>
            </md-content>
        </section>
    </div>
</body>
</html>