.app-form
{
    height:100%;
}
.login-input-section
{
    height:400px;
}
.login-other-title
{
    color:rgba(0,0,0,0.54);
    font-size: 13px;
    padding:5px 0px;"
}
.login-other-icon
{
    width:25px;
    height:25px;
}
.event-input-section
{
    height:500px;
}



